xrandr --auto

export LANG="en_US.UTF-8"
#export LC_COLLATE="zh_CN.UTF-8"
export LC_CTYPE="zh_CN.UTF-8"
export GTK_IM_MODULE="fcitx"
export QT_IM_MODULE="fcitx"
export XMODIFIERS="@im=fcitx"

export XDG_CONFIG_HOME="$HOME/.config"

# 解决 KDE 撕裂问题
#export KWIN_TRIPLE_BUFFER=1

export QTCREATOR_DISABLE_NATIVE_MENUBAR=""

numlockx &
